In [1]:
import pandas as pd

In [37]:
actors = pd.read_csv('./data/actors.csv')
actors

             id          username
0       8422699            Apexal
1      53201765    ArturoCamacho0
2       2631623          onosendi
3      52553915         anggi1234
4      31390726  AdrianWilczynski
...         ...               ...
32714  44822949   AcnologiatheEnd
32715  57023230          nordkamp
32716   1142830            alexec
32717  57254737         jiangyafu
32718  59403400           lackLeo

[32719 rows x 2 columns]

In [25]:
commits = pd.read_csv('./data/commits.csv')
commits

,sha,message,event_id
0,5948a6cc5255015e983a9719117c15ff197b4681,Refactor member inde,11185376329
1,bf7296401598660b44d8923787a2600f346f9a81,Refactor roadmap,11185376329
2,488794042fce073c5075180becc9bfaf1156eb7e,Member detail start,11185376329
3,18fe8470f986fb009ee1f6841546382416167d3f,Add review to Event model,11185376329
4,2a7dda4b06bb9762664eaf5493ce674c0cb2a113,Remove masaka - not being used,11185376335
...,...,...,...
23653,160a794046299c9d0420ae1710641814f30a9b7f,fix: Update Gopkg.lock with dep ensure -update...,11185456741
23654,438b08c22694a323a1bbc7e89f85c28e734dee57,merge,11185456741
23655,954453939188940775fb64a2c30efcb024036f34,Merge remote-tracking branch 'simon/ux' into a...,11185456741
23656,ccd92786c1ffa7eb270786174411ae8b260e655a,tidy up,11185456741
23657,f327eca27acce8336576a158efee3a13b8750e9c,Create README.md,11185456742

In [9]:
events = pd.read_csv('./data/events.csv')
events

                id         type  actor_id    repo_id
0      11185376329    PushEvent   8422699  224252202
1      11185376333  CreateEvent  53201765  231161852
2      11185376335    PushEvent   2631623  155254893
3      11185376336    PushEvent  52553915  231065965
4      11185376338    PushEvent  31390726  225080339
...            ...          ...       ...        ...
32714  11185456736    PushEvent  44822949  231136901
32715  11185456738  CreateEvent  57023230  231165513
32716  11185456741    PushEvent   1142830  100982449
32717  11185456742    PushEvent  57254737  231165441
32718  11185456743  CreateEvent  59403400  231165516

[32719 rows x 4 columns]

In [8]:
repos = pd.read_csv('./data/repos.csv')
repos

              id                                 name
0      224252202                   DSC-RPI/dsc-portal
1      231161852     ArturoCamacho0/ProjectResponsive
2      155254893            onosendi/flask-dlindegren
3      231065965                 anggi1234/tunas-ilmu
4      225080339  AdrianWilczynski/VSCodeSnippetsToVS
...          ...                                  ...
32714  231136901  AcnologiatheEnd/sinatra-ar-crud-lab
32715  231165513          nordkamp/breezekrystallight
32716  100982449                        argoproj/argo
32717  231165441                      jiangyafu/fksum
32718  231165516                          lackLeo/LEO

[32719 rows x 2 columns]

In [15]:
events.groupby(['type']).all()

                                 id  actor_id  repo_id
type
CommitCommentEvent             True      True     True
CreateEvent                    True      True     True
DeleteEvent                    True      True     True
ForkEvent                      True      True     True
GollumEvent                    True      True     True
IssueCommentEvent              True      True     True
IssuesEvent                    True      True     True
MemberEvent                    True      True     True
PublicEvent                    True      True     True
PullRequestEvent               True      True     True
PullRequestReviewCommentEvent  True      True     True
PushEvent                      True      True     True
ReleaseEvent                   True      True     True
WatchEvent                     True      True     True

In [44]:
events.loc[events['id']== 11185456742], events.loc[events['id']== 11185456741]

(                id       type  actor_id    repo_id
 32717  11185456742  PushEvent  57254737  231165441,
                 id       type  actor_id    repo_id
 32716  11185456741  PushEvent   1142830  100982449)

In [35]:
len(events.actor_id.unique())

9727

In [51]:
actors.loc[actors['id'] == 59403400], actors.loc[actors['id'] == 231165516]

(             id username
 32718  59403400  lackLeo,
 Empty DataFrame
 Columns: [id, username]
 Index: [])